* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-bottom: 0;
}



@font-face {
  font-family: mySpaceFont;
  src: url('../fonts/Moondance.otf');
}
a {
  color: white;
  font-family: mySpaceFont;
text-decoration: none;
}

li{
  font-size: large;
  margin: 10px;
  padding: 10px;
}

html { 
  background: url('../images/rpc-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.big-txt {
  font-size: 78px;
}



h1{
  font-family: mySpaceFont;
  color: white;
  line-height: 1.3;
  text-align: center;
}

header {
  margin: 0 auto;
  padding:20px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.gameplay-box {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
  border: 2px solid peachpuff;
  background: rgb(218,0,255);
  background: linear-gradient(0deg, rgba(218,0,255,1) 0%, rgba(5,255,185,1) 100%);
  border-radius: 20px;
  transition: all 0.2s ease ;
  align-items: center;
  flex-wrap: wrap;
}

/* .gameplay-box:hover {
  background: rgb(230, 93, 254);
  background: linear-gradient(0deg, rgb(227, 100, 249) 0%, rgb(109, 251, 211) 100%);
  border: 10px solid peachpuff;
} */

.gameplay-text {
  flex-basis: 100%;
  font-family: mySpaceFont;
  font-size: 40px;
  padding: 10px;
  color:rgb(255, 242, 230);
}
.chaos-hap-com {
  width: 50%;
  border: 3px solid black;
  border-radius: 20px;
  margin: 10px;
}

.choice-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-basis: 80%;
  flex-wrap: wrap;
}


.console {
  margin-top: 40px;
}

.choice-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 2rem;
}

.choice-btn {
  border: 3px solid peachpuff;
  border-radius: 20px;
  height: 300px;
  align-items: start;
  transition: 0.2s all ease;
  display: flex;
  justify-content: center;
}

.choice-btn:hover {
  border: 10px solid peachpuff;
  box-shadow: 2px 2px #ff0000;
}

.rock-btn {
  background-image: url('../images/rock.jpg');
  background-size: cover;
}
.paper-btn {
  background-image: url('../images/paper.jpg');
   background-size: cover;
}
.scissors-btn {
  background-image: url('../images/scissors.jpg');
   background-size: cover;
}

.choice-text {
  font-family: mySpaceFont;
  color: white;
  padding: 10px 30px 100px 30px;
  font-size: 50px;
  text-shadow: 2px 2px #ff0000;
}














@media screen and (max-width: 480px) {
  .big-txt {
    font-size: 36px;
  }

  h1 {
    font-size: 22px;
  }

  .choice-text {
    padding: 10px 10px 100px 10px;
    font-size: 30px;
    text-shadow: 2px 2px #ff0000;
  }

  .choice-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .big-txt {
    font-size: 40px;
  }

  h1 {
    font-size: 25px;
  }
  .choice-container {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
    gap: 2rem;
  }
}