* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-bottom: 0;
}

@font-face {
  font-family: mySpaceFont;
  src: url('../fonts/Moondance.otf');
}

a {
  color: white;
  font-family: mySpaceFont;
text-decoration: none;
}

li{
  font-size: large;
  margin: 10px;
  padding: 10px;
}

html { 
  background: url('../images/rpc-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top {
  display: flex;
  justify-content: center;
}

.container-top {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-txt {
  font-size: 78px;
  font-family: mySpaceFont;
  color: white;
  line-height: 1.3;
  text-align: center;
}
.med-txt {
  font-size: 38px;
  font-family: mySpaceFont;
  color: white;
  line-height: 1.3;
  text-align: center;
  padding: 1.5rem;
}

header {
  margin: 0 auto;
  padding:20px;
  text-align: center;
}

.gameplay-box {
  margin: 0 200px;
  text-align: center;
  line-height: 1.2;
  border: 2px solid peachpuff;
  background: rgb(218,0,255);
  background: linear-gradient(0deg, rgba(218,0,255,1) 0%, rgba(5,255,185,1) 100%);
  border-radius: 20px;
  
}

.gameplay-text {
  font-family: mySpaceFont;
  font-size: 40px;
  padding: 10px;
  color:rgb(255, 242, 230);
}

.chaos-hap-com {
  width: 50%;
  border: 3px solid black;
  border-radius: 20px;
  margin: 10px;
}

.scores {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-radius: 20px;
}

.player-score-box {
  border: 1px solid white;
  border-radius: 20px;
}
.com-score-box {
  border: 1px solid white;
  border-radius: 20px;
}



/* START CHOICE STYLES */

.main-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}


.choice-container {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 20px;
  flex-wrap: wrap;
}

.choice-btn {
  border: 3px solid peachpuff;
  border-radius: 20px;
  height: 275px;
  align-items: start;
  transition: 0.2s all ease;
  display: flex;
  justify-content: center;
}

.choice-btn:hover {
  border: 10px solid peachpuff;
  box-shadow: 2px 2px #ff0000;
}

.rock-btn {
  background-image: url('../images/rock.jpg');
  background-size: cover;
  width: 310px;
}
.paper-btn {
  background-image: url('../images/paper.jpg');
   background-size: cover;
   width: 310px;
}
.scissors-btn {
  background-image: url('../images/scissors.jpg');
   background-size: cover;
}

.choice-text {
  font-family: mySpaceFont;
  color: white;
  padding: 10px 30px 100px 30px;
  font-size: 50px;
  text-shadow: 2px 2px #ff0000;
}


@media screen and (max-width: 830px) {
  .big-txt {
    font-size: 40px;
    text-align: center;
  }

  header {
    width: 500px;
  }

  h1 {
    font-size: 25px;
  }


  .gameplay-box {
    margin: 0 100px;
  }

}

@media screen and (max-width: 480px) {

  .big-txt {
    font-size: 28px;
    text-align: center;
  }

  header {
    width: 300px;
  }

  .choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .choice-text {
    padding: 10px 10px 100px 10px;
    font-size: 30px;
    text-shadow: 2px 2px #ff0000;
  }

  .gameplay-box {
    margin: 0 20px;
  }

  .rock-btn {
    background-image: url('../images/rock.jpg');
    background-size: cover;
    width: 310px;
  }
  .paper-btn {
    background-image: url('../images/paper.jpg');
     background-size: cover;
     width: 310px;
  }
  .scissors-btn {
    background-image: url('../images/scissors.jpg');
     background-size: cover;
     width: 310px;
  }
}